<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login stuff</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" id="navbarContain">
            <div class="row">
                <div class="col">
                    <ul class="navbar-nav">
                        <a href="/">
                            <li class="nav-item">Home</li>
                        </a>
                        <a href="/dashboard">
                            <li class="nav-item">Dashboard</li>
                        </a>
                        {{#if logged_in}}
                        <a href="#">
                            <li class="nav-item">Logout</li>
                        </a>
                        {{else}}
                        <a href="/login">
                            <li class="nav-item">Login</li>
                        </a>
                        {{/if}}
                    </ul>
                </div>
            </div>
            <div class="row" id="logoDiv">
                <div class="col">
                    <h1>The Tech Blog</h1>
                </div>
            </div>
        </div>
    </nav>
    {{{body}}}
</body>

</html>