<div class="card" id="blogCard">
    <div class="card-header container-fluid" id="blogHeader">
        <div class="row" id="blogRow">
            <p class="col">Posted by {{user.username}} on {{format_date date_created}}</p>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
        <p class="card-text">{{blog.title}}</p>
    </div>
</div>