<div class="card" id="newBlogCard">
    <h5 class="card-header">Create New Post</h5>
    <div class="card-body">
        <form id="newBlogForm">
            <div class="form-group">
                <label for="newTitle">Title</label>
                <input class="form-control" type="text" name="title" id='newTitle' />
            </div>
            <div class="form-group">
                <label for="newContent">Content</label>
                <input class="form-control" type="textarea" name="content" id='newContent' />
            </div>
            <button class="btn btn-secondary" type="submit" id="createBlogBtn">Create</button>
        </form>
    </div>
</div>