{{#if logged_in}}
{{#if blogs.length}}
<div class="col mt-2 blog-list">

    {{#each blogs as |blog|}}
    <div class="row mb-2">
        <div class="col" id="yourBlog">
            <div class="row">
                <h5 class="col-10"><a href="/blog/{{blog.id}}">{{blog.title}}</a></h5>
                <p class="col-2">{{format_date date_created}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<div class="text-center" id="newBlogDiv">
    <button type="button" class="btn btn-lg" id="newBlogBtn"><a href="/dash-create">+ New Post</a></button>
</div>
{{/if}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/dashboard.js"></script>