<div class="card" id="signupCard">
    <h5 class="card-header">Sign Up</h5>
    <div class="card-body">
        <form id="signupForm">
            <div class="form-group">
                <label for="signupUsername">Username</label>
                <input class="form-control" type="text" name="username" id='signupUsername' />
            </div>
            <div class="form-group">
                <label for="signupPassword">Password</label>
                <input class="form-control" type="password" name="password" id='signupPassword' />
            </div>
            <a href="#" class="btn btn-secondary" id="signupBtn">Sign Up</a>
            <a href="#" id="loginBtn">Login instead</a>
        </form>
    </div>
</div>